body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#order {
    background-color: yellowgreen;
    border: 2px solid green;
    padding: 10px;
    width: 40%;
    text-align: center;
}

label {
    display: inline-block;
    *display: inline; /* for IE7*/
    zoom: 1; /* for IE7*/
    padding-top: 15px;
    padding-right: 5px;
    text-align: right;
    width: 140px;
}
