extends layout

block content
  
  h1 Welcome to #{title}

  div.form-group
    label(for='storeNumber') Store Number
    input.form-control(type='text')#textBoxStore
  div.form-group
    label(for='salePersonId') Sale Person ID
    input.form-control(type='text')#textBoxPerson
  div.form-group
    label(for='itemNumber') Item Number
    input.form-control(type='text')#textBoxItem
  div.form-group
    label(for='pricePaid') Price Paid
    input.form-control(type='text')#textBoxTime
  div.form-group
    label(for='timePunch') Time Punch
    input.form-control(type='text')#textBoxPrice
  button#submitOneOrder Generate Order
  button#submitOrders Submit 450 Order(s)
  button#refreshOrders Refresh Order List
  
  h2 Item List
    #itemList
      table
        thead
          th ItemNumber
          th StoreNumber
          th TimePurch
        tbody

  pre#status