extends layout

block content

    div#order
        h4 Welcome to #{title}
        hr
        label(for='storeNumber') Store Number
        input#storeNumber(type="text", name='storeNumber')
        br
        label(for='salesPersonId') Salesperson Id
        input#salesPersonId(type="text", name ='salesPersonId')
        br
        label(for='itemNumber') Item Number
        input#itemNumber(type="text", name ='itemNumber')
        br
        label(for='pricePaid') Price Paid $
        input#pricePaid(type="text", name='pricePaid')
        br
        label(for='timePunch') Time Punch
        input#timePunch(type="text", name ='timePunch')
        br
        br
        button#generateOrder Generate Order
        button#saveOrder Save Order
        hr
        label(for='numberOfOrders') Orders #
        input#numberOfOrders(type="text", name='numberOfOrders')
        br
        br
        button#ordersButton Place Orders
        br
        hr
        p#ordersPlacementStatus

